*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    height: 3%;
    width: 3%;
}
.card_image{
    height: 10rem;
    width: 100%;
    object-fit: contain;
}
.footer{
    position: absolute;
    bottom: 0;
}